JWT_SECRET=votre_secret_ici_16_caracteres_min
ADMIN_PASSWORD=votre_mot_de_passe_admin
DEFAULT_PASSWORD=votre_mot_de_passe_commercial
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=votre.email@gmail.com
EMAIL_PASS=votre_mot_de_passe_app
ADMIN_EMAIL=admin@ipce.com
PORT=4600
